header {
  padding: 20px;
  margin: 20px;

}


body {
  background-color: rgb(86, 53, 148);


}

li {
  color: rgb(7, 246, 31);
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  padding: 10,10,10,10;
}

#video-game-img {
  height: 40%;
}

#body-index2 {
  background-image: url(images/luis-villasmil-ITFwHdPEED0-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}

#body-index3 {
  background-image: url(images/dave-photoz-FdTmaUlEr4A-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}

#video-game-thumbnail {
  border-style: outset;
  border-radius: 10px;
  object-fit: scale-down;
  height: 150px;
}

#board-game-thumbnail {
  border-style: outset;
  border-radius: 10px;
  object-fit: scale-down;
  height: 150px;
}

.video-game-button {
  background-color: rgb(0, 0, 0);
  border-color: rgb(45, 229, 76);
  border-style: solid;
  border-width: 1px;
  color: rgb(45, 229, 76);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  cursor: pointer;
  vertical-align: top;
  margin: 20px;
}

.video-game-button:hover {
  background-color: rgb(45, 229, 76);
  color: black;

}

.board-game-button {
  background-color: rgb(0, 0, 0);
  border-color: rgb(45, 229, 76);
  border-style: solid;
  border-width: 1px;
  color: rgb(45, 229, 76);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  cursor: pointer;
  vertical-align: top;
  margin: 20px;
}

.board-game-button:hover {
  background-color: rgb(45, 229, 76);
  color: black;

}

.home-button {
  background-color: rgb(0, 0, 0);
  border-color: rgb(45, 229, 76);
  border-style: solid;
  border-width: 1px;
  color: rgb(45, 229, 76);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  cursor: pointer;
  vertical-align: top;
  margin: 20px;
}

.home-button:hover {
  background-color: rgb(45, 229, 76);
  color: black;

}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 1px;
}